extends layout

block content
   input#search(type="search", placeholder="Bílanúmer (AA000)")
   h2#results
   p#type
   p#weight
   p#pollution

   script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
   script(src="/javascripts/main.js")
